.dropdown {
  margin-top: 2rem;
  background: $secondary-color;
  border-radius: 5px;
  width: 1023px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-color;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
  }

  &__content {
    padding: 15px;
  }
}