.logementPicture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 415px;
}
.logementPicture img {
    object-fit: cover;
}

.arrow, .logementPicture p {
    position: absolute;
}

.leftArrow, .rightArrow {
    top: 50%;
    font-size: 10rem;
}

.rightArrow {
    right: 350px;
}