.logementPicture {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 415px;
}
.logementPicture img {
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: 415px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.arrow, .logementPicture p {
    position: absolute;
    color: white;
}

.leftArrow, .rightArrow {
    top: 275px;
    font-size: 10rem;
    cursor: pointer;
}

.leftArrow {
    left: 350px;
}

.rightArrow {
    right: 350px;
}

.logementPicture p {
    top: 525px;
}