.logementPicture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 415px;
}
.logementPicture img {
    object-fit: cover;
    border-radius: 25px;
}

.arrow, .logementPicture p {
    position: absolute;
}

.leftArrow, .rightArrow {
    top: 275px;
    font-size: 10rem;
}

.leftArrow {
    left: 350px;
}

.rightArrow {
    right: 350px;
}