//Typographie
$font-primary: "Montserrat", sans-serif;

$size48: 48px;
$size36: 36px;
$size24: 24px;
$size18: 18px;
$size14: 14px;
$size12: 12px;

$weigh-thin: 400;
$weigh-normal: 500;
$weigh-bold: 700;

//color
$primary-color : #FF6060;
$secondary-color: #F6F6F6;
$tertiary-color: #000000;
$white-color: white;

$linear-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);

//margin padding 
$margin-desktop: 30px 300px;
$margin-mobile : 30px 20px;