@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-banner img {
  @include banner;
}