.logementContainer {
    margin: 30px 340px;

    & h2 {
        color: $main-color;
        font-size: 2.25rem;
        font-weight: 400;
    }

    & h4 {
        font-weight: 500;
        margin-bottom: 20px;
    }
    & span {
        font-size: 14px;
        color: white;
        font-weight: bold;
        background-color: $main-color;
        border-radius: 10px;
        width: 155px;
        margin-right: 7px;
        padding: 5px 20px;
    }
}

.logementInfos {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.logementTags ul {
    display: flex;
}

.logementHost {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:  20px;
    

    & p {
        width: 80px;
        color: $main-color;
        text-align: right;
    }

    & img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}

.logementDropdowns {
    display: flex;
    gap: 50px;
}