.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__code,
  &__title {
    color: $main-color;
    margin-top: 5rem;
  }

  &__code {
    font-size: 18rem;
    font-weight: bold;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 400;
  }

  a {
    font-weight: 500;
    margin:6.25rem 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}