@use '../utils/variables' as v;

footer {
    background-color: v.$tertiary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    margin-top: 2rem;

    @media (max-width: 768px) {
        gap: 60px;
    }

    & .logoFooter {
        padding-top: 50px;
        width: 122px;
        height: 40px;
    }

    & p {
        color: v.$white-color;
        font-size: v.$size18;
        padding-bottom: 25px;

        @media (max-width: 768px) {
            font-size: v.$size14;
            text-align: center;
            width: 150px;
        }
    }
}