@use '../utils/variables' as v;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: v.$margin-desktop;

    @media (max-width: 768px) {
        margin: v.$margin-mobile;
    }

    & .logoHeader img {
        @media (max-width: 768px) {
            width: 145px;
            height: 47px;
        }
    }
}
