@import './variables';
@import './mixins';
@import './reset';
@import './layout.scss';


@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/Banner/banner';
@import '../components/Card/card';
@import '../components/Dropdown/dropdown';
@import '../components/Slideshow/slideshow';
@import '../components/Error/error';