.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner img {
  @include banner;
  filter: brightness(50%);
}

.banner-title {
  position: absolute;
  color: #fff;
  font-size: 48px;
  text-shadow: 1px 1px 4px black;
}