.cards-container {
  background: $secondary-color;
  border-radius: 20px;
  padding: 40px;
  width: 1240px;
  margin-top: 50px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      width: 350px;
      padding: 20px;
      position: relative;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(70%);
      }

      h3 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 13px;
        color: #fff;
        width: 200px;
        padding: 10px;
        text-shadow: 1px 1px black;
      }
    }
  }
}