header {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}
.navbar {
  align-items: center;
  ul {
  display: flex;
  gap: 35px;
  }
  li {
  display: flex;
  }
  a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: black;
  }
  a:hover {
    text-decoration: underline;
  }
}
