@use '../utils/variables' as v;

.cardsContainer {
    background-color: v.$secondary-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    margin: v.$margin-desktop;
    border-radius: 20px;
    padding: 40px;

    @media (max-width : 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width : 768px) {
        grid-template-columns: repeat(1, 1fr);
        margin: v.$margin-mobile;
        gap: 20px;
        background-color: v.$white-color;
        padding: 0;
    }
}