@use '../utils/variables' as v;

//Contenu de la page //
.logementContainer {
    margin: v.$margin-desktop;

    @media (max-width : 768px) {
        margin: v.$margin-mobile;
    }

    & .logementInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        @media (max-width : 768px) {
            flex-direction: column;
            align-items: normal;
        }

        & .logementLocation {
            width: 75%;

            @media (max-width : 768px) {
                width: 100%;
            }

            & h2 {
                color: v.$primary-color;
                font-weight: v.$weigh-normal;

                @media (max-width : 768px) {
                    font-size: v.$size18;
                }
            }

            & h4 {
                font-size: v.$size18;
                font-weight: v.$weigh-normal;
                margin-bottom: 20px;

                @media (max-width : 768px) {
                    font-size: v.$size14;
                    margin-top: 10px;
                }
            }

            & span {
                font-size: v.$size14;
                color: v.$white-color;
                font-weight: v.$weigh-bold;
                background-color: v.$primary-color;
                border-radius: 10px;
                padding: 5px;
                width: 155px;
                margin-right: 7px;

                @media (max-width : 768px) {
                    width: 84px;
                    font-size: 10px;
                }
            }
        }

        & .logementHostRating {
            @media (max-width : 768px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-top: 10px;
            }

            & .logementHost {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;

                & img {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;

                    @media (max-width : 768px) {
                        width: 32px;
                        height: 32px;
                    }
                }

                & p {
                    color: v.$primary-color;
                    text-align: right;
                    width: 80px;

                    @media (max-width : 768px) {
                        font-size: v.$size12;
                        width: 60px;
                    }
                }
            }
        }
    }

}

//Collapses//
.logementDropdowns {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-top: 20px;

    @media (max-width : 768px) {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }
}