footer {
  background: black;
  padding: 50px 0;
}

footer img {
  display: flex;
  margin: auto;
}

footer span {
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}