@use '../utils/variables' as v;

.banner {
    margin: v.$margin-desktop;
    position: relative;

    @media (max-width: 768px) {
        margin: v.$margin-mobile;
    }

    & img {
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
        filter: brightness(50%);

        @media (max-width: 768px) {
            height: 111px;
        }
    }

    & .titleBanner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: v.$white-color;
        text-align: center;
        width: 100%;

        @media (max-width: 768px) {
            font-size: v.$size24;
            text-align: left;
            left: 38%;
            width: 62%;
        }
    }
}
