@use '../utils/variables' as v;


.cardContent {
   width: 100%;
   height: 340px;
   position: relative;
   cursor: pointer;

   @media (max-width : 768px) {
      height: 255px;
   }

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: v.$linear-color;
      z-index: 1;
      pointer-events: none;
   }

   & img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
   }

   & h2 {
      position: absolute;
      top: 275px;
      left: 10px;
      font-size: 18px;
      color: v.$white-color;

      @media (max-width : 768px) {
         top: 190px;
      }
   }
}
