@use '../utils/variables' as v;

.navBar ul {
    display: flex;
    gap: 57px;

    @media (max-width: 768px) {
        gap: 26px;
        font-size : v.$size12;
    }

    & li {
        font-weight: v.$weigh-normal;
    }

    & a.active {
        text-decoration: underline;
    }

    & a {
        @media (max-width: 768px) {
            text-transform: uppercase;
        }
    }
}