$main-color: #FF6060;

* {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  margin: 0;
}

/****************************/
/********* HEADER ***********/
/****************************/
header {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 35px;

}

nav li {
  display: flex;

}

nav ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

/****************************/
/******** HOME PAGE *********/
/****************************/
.container {
  margin-top: 50px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  display: flex;
  height: 250px;
  width: 1240px;
	border-radius: 20px;
	object-fit: cover;
  filter: brightness(50%);
}

.banner-title {
  position: absolute;
  color: #fff;
  font-size: 48px;
}

/****************************/
/******** ERROR PAGE ********/
/****************************/
.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorCode {
  color: $main-color;
  font-size: 288px;
  font-weight: bold;
  margin-top: 80px;
}

.errorTitle {
  color: $main-color;
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
}

.errorPage a {
  font-size: 18px;
  font-weight: 500;
  margin: 100px;
}

/* FOOTER */
footer {
  background: black;
  padding: 50px 0;
}

footer img {
  display: flex;
  margin: auto;
}

footer span {
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}