.banner {
  display: flex;
  height: 250px;
  width: 1240px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 1px 1px 4px black;
  
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .banner-title {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #fff;
    font-size: 48px;
    text-shadow: 1px 1px 4px black;
    z-index: 1;
  }
}
