.banner {
  @include banner;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .banner-title {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #fff;
    font-size: 48px;
    text-shadow: 1px 1px 4px black;
    z-index: 1;
  }
}
