.banner {
  display: flex;
  height: 250px;
  width: 1240px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 1px 1px 4px black;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.5);
  }

  .banner-title {
    position: absolute;
    color: #fff;
    font-size: 48px;
    text-shadow: 1px 1px 4px black;
    z-index: 1;
  }
}
