@use './utils/variables' as v;

@use './vendors/fonts';

@use './base/reset';
@use './base/typography';

@use './pages/home';
@use './pages/logements';
@use './pages/errorPage';

@use './layouts/footer';
@use './layouts/header';

@use './components/navigation';
@use './components/banner';
@use './components/card';
@use './components/dropdown';
@use './components/slideshow';
@use './components/rating';